@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Nunito', 'sans-serifs';
}

:root {
  --main-color: #000;
  --text-color: #fff;
  --bg-blue: #0000ff;
  --bg-grey: #5e5e5e;
  --bg-color: #191f36;
  --bg-green: #008000;
  --bg-light-grey: #9b9b9b;
  --bg-light-blue: #394164;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  color: var(--text-color);
  background: var(--main-color);
}

h1 {
  font-size: 3vw;
  margin-top: 1vw;
  text-align: center;
  color: var(--text-color);
  text-decoration: underline;
}

.container {
  margin-top: 2.5vw;
  text-align: center;
}

.container-box {
  width: 21vw;
  margin: 0 auto;
  border-radius: 1.5vw;
  background: var(--bg-color);
  border: 1px solid var(--bg-grey);
}

.input {
  width: 19vw;
  height: 7vw;
  border: none;
  resize: none;
  padding: .4vw;
  font-size: 1.7vw;
  margin-top: 1vw;
  border-radius: .8vw;
  margin-bottom: .75vw;
  color: var(--text-color);
  background: var(--bg-light-grey);
}

.row {
  padding-bottom: .5vw;
}

.btn {
  width: 4.4vw;
  height: 4.4vw;
  cursor: pointer;
  font-size: 1.7vw;
  border-radius: 50%;
  box-sizing: border-box;
  color: var(--text-color);
  margin: 0 .15vw 0 .15vw;
}

.btn-ac {
  background: var(--bg-green);
}

.btn-symbol {
  background: var(--bg-light-blue);
}

.btn-equal {
  background: var(--bg-blue);
}

.btn-num {
  background: var(--bg-grey);
}

.btn-dot {
  margin-bottom: .25vw;
}

.btn-dot i {
  font-size: .25vw;
}